<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}PowerUp App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('contacto') }}">Contacto</a>
        <a href="{{ url_for('simulador') }}">Simulador</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
